<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701598295073-s8vnh7ft2plfh91f0c9ft48cbq5qhnni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701598295073-s8vnh7ft2plfh91f0c9ft48cbq5qhnni</string>
	<key>API_KEY</key>
	<string>AIzaSyAVRR6HhYxA88xFGtfrzDMUyvEUPP620RI</string>
	<key>GCM_SENDER_ID</key>
	<string>701598295073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.rama.Messanger</string>
	<key>PROJECT_ID</key>
	<string>messangerapp-7a33b</string>
	<key>STORAGE_BUCKET</key>
	<string>messangerapp-7a33b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701598295073:ios:3cf7f86150393528476f60</string>
</dict>
</plist>